#!/bin/sh

OMZ_HOME=${OMZ_HOME:-$HOME/.oh-my-zsh}
ZSH_CUSTOM=${ZSH_CUSTOM:-$OMZ_HOME/custom}
OMZ_PLUGINS="
zsh-autosuggestions|https://github.com/zsh-users/zsh-autosuggestions
fast-syntax-highlighting|https://github.com/zdharma-continuum/fast-syntax-highlighting.git
ohmyzsh-full-autoupdate|https://github.com/Pilaton/OhMyZsh-full-autoupdate.git
"

# Install zsh
if ! command -v zsh >/dev/null 2>&1; then
    sudo apt update
    sudo apt install -y zsh
else
    echo "zsh is already installed. Skipped."
fi

# Install oh-my-zsh
if [ ! -d "$OMZ_HOME" ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
    echo "oh-my-zsh is already installed. Skipped."
fi

# Install powerlevel10k theme
if [ ! -d "$ZSH_CUSTOM/themes/powerlevel10k" ]; then
    git clone --depth=1 https://github.com/romkatv/powerlevel10k.git $ZSH_CUSTOM/themes/powerlevel10k
else
    echo "powerlevel10k theme is already installed. Skipped."
fi

# Install oh-my-zsh plugins
echo "$OMZ_PLUGINS" | grep -v "^$" | while IFS="|" read -r plugin_name plugin_url; do
    if [ ! -d "$ZSH_CUSTOM/plugins/$plugin_name" ]; then
        git clone "$plugin_url" "$ZSH_CUSTOM/plugins/$plugin_name"
    else
        echo "$plugin_name plugin is already installed. Skipped."
    fi
done

# Backup existing dotfiles then symlink to the dotfiles repository
DOTFILES_PATH=$(realpath "./")
BACKUP_PATH="$DOTFILES_PATH/{{ backup_dir }}"

echo "Generate folder for backups at $BACKUP_PATH"
mkdir -p "$BACKUP_PATH"

DEST_PATH=$(dirname $DOTFILES_PATH) # Parent directory of dotfiles
echo "Backup then symlink dotfiles to $DEST_PATH"
SYMLINK_FILES="
$DOTFILES_PATH/.gitconfig|$DEST_PATH/.gitconfig
$DOTFILES_PATH/.zshrc|$DEST_PATH/.zshrc
$DOTFILES_PATH/.p10k.zsh|$DEST_PATH/.p10k.zsh
"
echo "$SYMLINK_FILES" | grep -v "^$" | while IFS="|" read -r src dest; do
    # Only backup if the destination file exists and not a symlink
    if [ -f "$dest" ]; then
        echo "Backing up $dest to $BACKUP_PATH"
        cat "$dest" > "$BACKUP_PATH/$(basename $dest)"
        rm "$dest"
    fi
    echo "Symlinking $src to $dest"
    ln -s "$src" "$dest"
done

# Init dotfiles git repository
if [ ! -d "$DOTFILES_PATH/.git" ]; then
    git init .
    git config --local user.name "{{ user_name }}"
    git config --local user.email "{{ user_email }}"
    git add .
    git commit -m "Init dotfiles template"
else
    echo "git repository at $DOTFILES_PATH is already initialized."
fi
