# History searching
alias hg="history -i -D 0 | grep"

# Git aliases
alias gpt="git push --tags"
alias gtDa='git tag -d $(git tag -l)'
{%- if is_wsl %}
export BROWSER='/mnt/c/Program Files/Mozilla Firefox/firefox.exe'
{%- endif %}
alias gw="git config --get remote.origin.url | sed 's|git@github.com:|https://github.com/|' | xargs {% if _copier_conf.os == 'macos' %}open{% else %}sensible-browser{% endif %}"

# Dotfiles aliases
export DOTFILES_PATH="REPLACE_DOTFILES_PATH_HERE"
alias dotfiles="cd $DOTFILES_PATH"
alias dotfiles-update="uvx copier update $DOTFILES_PATH/ --trust -A"
