name: Tests template generation without executing tasks
on:
  workflow_call:
  push:
    branches:
      - "*"

concurrency:
  group: test-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: go-task/setup-task@v1

      - name: Run tests
        run: task test-template-no-tasks
